/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: back-to-school;
    src: url(assets/font/BackToSchoolPersonalUseRegular-w1xX2.ttf) format('truetype')
}

.back-school {
    font-family: back-to-school;

}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", Sans-serif;
}