<!-- https://www.myvote.io/ -->
<!-- votetexas.gov -->
<section>
    <section class="columns">
        <!-- show navigation side bar -->
        <section class="column is-3">
            <app-sidebar></app-sidebar>
        </section>

        <!-- Create new site  -->
        <section class="column main-article is-6">
            <form (ngSubmit)="onSubmit(formInfo)" #formInfo="ngForm">
                <!-- Poll Number/ID -->
                <div class="field">
                    <label class="label has-text-white" for="pollingPlaceNumber">Polling Place Number</label>

                    <div class="control">
                        <input class="input" type="text" name="pollingPlaceNumber" ngModel id="pollingPlaceNumber"
                            #siteNumber="ngModel">
                    </div>
                </div>

                <!-- Candidate First Name -->
                <div class="field">
                    <label class="label has-text-white" for="firstName">First Name</label>

                    <div class="control">
                        <input class="input" type="text" name="candidateFirstName" ngModel #firstName="ngModel"
                            id="candidateFirstName">
                    </div>
                </div>

                <!-- Candidate Last Name -->
                <div class="field">
                    <label class="label has-text-white" for="lastName">LastName</label>

                    <div class="control">
                        <input class="input" type="text" name="candidateLastName" ngModel #lastName="ngModel" id="candidateLastName">
                    </div>
                </div>

                <!-- Party -->
                <div class="field">
                    <label class="label has-text-white" for="party">Party</label>

                    <div class="control">
                        <input class="input" type="text" name="party" ngModel #party="ngModel" id="party">
                    </div>
                </div>

                <!-- Button -->
 
                <button class="mt-3 button is-medium is is-success" type="submit"> Save </button>
            </form>
            <!-- <pre>{{ formInfo.value|json}}</pre> -->
        </section>
    </section>
</section>