<!-- <aside class="has-background-grey-light"> -->
<aside class="sidenav" style="height:60vh;">

  <button class="button is-size-3 sidenav-button center back-school" style="border-style: solid; height:10vh;">
    <a [routerLink]="['/polls']">
      Polls
    </a>
  </button>

  <button class="button sidenav-button back-school is-size-3" style="height:10vh">
    <a [routerLink]="['/newpoll']">
      New Poll
    </a>
  </button>

  <button class="button sidenav-button back-school is-size-3" style="height:10vh">
    <a [routerLink]="['/results']">
      Results
    </a>
  </button>

  <button class="button sidenav-button back-school is-size-3" style="height:8vh">
    <a [routerLink]="['/signin']">
      Sign In
    </a>
  </button>

  <button class="button sidenav-button back-school is-size-3" style="height:7vh">
    <a [routerLink]="['/signout']">
      Sign Out
    </a>
  </button>
</aside>