@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.panel-font {
    font-family: 'Lato', sans-serif;
    font-size: large;
    font-weight: 600;
}




/* font-family: Helvetica, Arial, sans-serif */