<aside class="has-background-grey-light">

  <div class="p-1 is-size-4 has-text-centered has-text-weight-bold" style="border-style: solid">
    <a [routerLink]="['/polls']">
      Polls
    </a>
  </div>

  <div class="p-1 is-size-4 has-text-centered has-text-weight-bold" style="border-style: solid">
    <a [routerLink]="['/newpoll']">
      Register Poll
    </a>
  </div>

  <div class="p-1 is-size-4 has-text-centered has-text-weight-bold" style="border-style: solid">
    <a [routerLink]="['/results']">
      Results
    </a>
  </div>

  <div class="p-1 is-size-4 has-text-centered has-text-weight-bold" style="border-style: solid">
    <a [routerLink]="['/signin']">
      SignIn
    </a>
  </div>

  <div class="p-1 is-size-4 has-text-centered has-text-weight-bold" style="border-style: solid">
    <a [routerLink]="['/signout']">
      SignOut
    </a>
  </div>
</aside>